.card {
  $this: &;
  @extend .mb-5;

  #{$this}-img-top {
    object-fit: cover;
  }

  #{$this}-img-overlay {
    z-index: 1;
    top: auto;

    color: $white;

    font-size: .875rem;

    @include media-breakpoint-down (xs) {
      font-size: 1rem;
    }

    span::before {
      @extend .mr-1;
    }

    #{$this}-heading {
      display: block;

      margin: 3.5rem 2rem;
      padding: 1rem 0;

      text-align: center;

      color: $gray-lightest;
      background-color: rgba($gray-darker, .5);

      @include hover-focus {
        color: lighten($gray-lightest, 20%);
      }
    }

    #{$this}-meta {
      @include change-link-color;

      .col-sm-7 {
        @extend .text-center;
        @extend .text-sm-left;
      }

      .col-sm-5 {
        @extend .text-center;
        @extend .text-sm-right;
      }

      span {
        line-height: 1.5rem;

        @extend .mr-2;

        img {
          width: 1.5rem;
          height: auto;

          @extend .mr-1;
          @extend .rounded-circle;
        }

        &::before {
          @extend .mr-1;
        }
      }
    }
  }

  #{$this}-header {
    position: relative;

    overflow: hidden;

    padding: 0;

    border-bottom: border(lighten($card-border-color, 8%), solid, 0);
  }

  #{$this}-footer {
    border-color: lighten($card-border-color, 8%);

    font-size: 81.25%;

    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-center;
    @extend .text-muted;

    span::before {
      @extend .mr-1;
    }
  }

  // Features
  // ====================

  // 1. With shadow
  &#{$this}-shadow {
    box-shadow: 0 0 1rem $gray-lightest;

    @extend .border-0;
    @include transition(box-shadow .5s);

    &:hover {
      box-shadow: 0 0 2rem $gray-lighter;
    }
  }

  // 2. Interactive
  &#{$this}-interactive {
    #{$this}-img-top {
      @include transition(transform .5s ease-in-out);
    }

    #{$this}-header {
      &::after {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;

        height: 50%;

        content: '';

        background: linear-gradient(transparent, $gray-dark);

        @include transition(bottom .5s ease-in-out);
      }
    }

    // Card full hover
    &:hover {
      #{$this}-header::after {
        bottom: -100%;
      }

      #{$this}-img-top {
        transform: scale(1.1);
      }
    }
  }

  // Patterns
  // ====================

  // 1. Thumbnail
  &#{$this}-thumbnail {
    @extend #{$this}-shadow;

    #{$this}-img-top {
      max-height: 17.5rem;
    }

    #{$this}-title {
      font-size: 1.25rem;
    }

    #{$this}-subtitle {
      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;
    }

    #{$this}-text {
      display: -webkit-box;
      overflow: hidden;

      height: .875rem * $line-height-base * 2;

      text-overflow: ellipsis;

      font-size: .875rem;

      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      @extend .text-muted;
    }
  }

  // - Common post entry
  @mixin card-entry {
    #{$this}-img-top {
      max-height: 30rem;
    }

    #{$this}-title {
      font-size: 2rem;
    }

    #{$this}-subtitle {
      @extend .text-right;
      @extend .text-muted;
      @extend .mb-3;

      &::before {
        content: '\2014 \00A0';
      }
    }

    #{$this}-text {
      margin-top: 1.5rem;

      p {
        text-indent: 1em;

        line-height: 1.8;
      }
    }

    #{$this}-block {
      padding: 4% 6%;
    }
  }

  // 2. Standard post entry
  &#{$this}-standard {
    @include card-entry;

    #{$this}-img-overlay {
      position: static;

      color: $brand-primary;

      #{$this}-meta {
        @include change-link-color($brand-primary);
      }
    }

    #{$this}-header {
      border-width: $card-border-width;
    }
  }

  // 3. Feature post entry
  &#{$this}-featured {
    @include card-entry;
    @extend #{$this}-interactive;
  }

  // 4. Quote post entry
  &#{$this}-quote {
    @include card-entry;
    @extend #{$this}-interactive;

    #{$this}-img-top {
      display: flex;

      min-height: 15rem;
      padding: 1rem 4.5rem 2.5rem;

      text-align: center;

      color: $white;
      background-color: $brand-primary;

      font-size: 2rem;

      align-items: center;
      justify-content: center;

      &::before,
      &::after {
        position: absolute;

        font-size: 5rem;
        // font-family: $font-family-monospace;
        line-height: 4rem;
      }

      &::before {
        top: 2.5rem;
        left: 2.5rem;

        content: '“';
      }

      &::after {
        right: 2.5rem;
        bottom: 2.5rem;

        content: '”';
      }
    }

    #{$this}-header::after {
      background: linear-gradient(transparent, rgba($card-cap-bg, .1));
    }
  }

  // Sticky post entry
  &.sticky {
    // modify default
    #{$this}-header {
      border-width: 0;
    }

    span#{$this}-img-top {
      padding-bottom: 4rem;
    }

    // Sticky
    #{$this}-sticky {
      position: absolute;
      z-index: 1;
      right: 0;
      bottom: 0;
      left: 0;

      display: flex;

      padding: .5rem 10%;

      border-top: border($card-border-color, dashed);
      border-bottom: border($card-border-color, dashed);
      background-color: $card-bg;

      align-items: center;
      justify-content: space-around;

      i {
        width: 1.25rem;
        height: 1.25rem;

        border-radius: 50%;
        background-color: darken($card-bg, 3%);
        box-shadow: inset 0 0 .125rem rgba($brand-primary, .6);
      }

      & ~ .card-img-overlay {
        margin-bottom: 2.5rem;
      }
    }

    // Bottom border
    &::before,
    &::after {
      position: absolute;

      min-height: 1rem;

      content: '';

      border: border($card-border-color, solid, $card-border-width);
      border-radius: $card-inner-border-radius;
    }

    &::before {
      z-index: -1;
      right: .625rem;
      bottom: -.3125rem;
      left: .625rem;

      border-color: lighten($card-border-color, 1%);
      background-color: lighten($card-cap-bg, 1%);
    }

    &::after {
      z-index: -2;
      right: 1.25rem;
      bottom: -.5625rem;
      left: 1.25rem;

      border-color: lighten($card-border-color, 2%);
      background-color: lighten($card-cap-bg, 2%);
    }
  }

  // 5. Widget
  &#{$this}-widget {
    padding: .25rem 1rem;

    @include change-link-color($gray-dark);

    #{$this}-header {
      padding: .5rem 0;

      border-width: $card-border-width;

      font-size: 1.125rem;
      line-height: 1.5;
    }

    .input-group {
      margin: 1rem 0;
    }

    ul {
      margin: .75rem 0;
      padding-left: 1.5rem;

      font-size: .875rem;
      line-height: 1.8;
    }

    .categories,
    .archives,
    .tags {
      padding-left: 0;

      list-style-type: none;
    }

    .categories,
    .archives {
      margin: .25rem 0;
      li {
        padding: 0 .5rem;

        line-height: 2.5;

        & + li {
          border-top: .0625rem solid #f0f0f0;
        }
      }
    }

    .tags {
      li {
        display: inline-block;

        margin-bottom: .5rem;
        padding: .125rem .5rem;

        border: .0625rem solid #f0f0f0;
        border-radius: .25rem;

        &:hover {
          border-color: #e0e0e0;
        }
      }
    }

    #{$this}-block {
      padding: 0;
    }
  }
}
