section.fifth
  .heading
    //- h3.title 规矩 #[small →] 自由
    //- p.subtitle 学习一个技术，一开始希望有规矩，再后来就是渴望自由！
    h2.title: a(href='single.html') 初夏 • 毕业季
    p.subtitle 那时候天总是很蓝，日子总过得太慢。你总说毕业遥遥无期，可转眼就各奔东西。

  .more: a.btn.btn-link.btn-wide.btn-capsule(href='#') 一起讨论 →
