section.first: .container: .row
  .col-lg-7
    article.article
      h2.title 忘掉那些不开心，发现生活中的美好
      div.content
        p 艺术家罗丹说过：“生活中并不缺少美，缺少的是发现美的眼睛。”我坚信这句话，这不，我发现了身边的美。
        p 法国着名雕塑家罗丹曾说过：“美是到处都有的。对于我们的眼睛，不是缺少美，而是缺少发现。”我听了这话深有感触，于是便在公园里寻找起了美。
        p 风呼呼的吹，花儿随风摆动，显得那么美，我不由心想 风呼呼的吹，花儿随风摆动，显得那么美，我不由心想……
      a.btn.btn-primary.btn-capsule(href='single.html') 继续阅读
    ul.share
      li Follow me:
      li: a.btn.btn-circle.icon-weibo(href='#')
      li: a.btn.btn-circle.icon-wechat(href='#')
      li: a.btn.btn-circle.icon-twitter(href='#')
      li: a.btn.btn-circle.icon-facebook(href='#')
      li: a.btn.btn-circle.icon-google(href='#')
      li: a.btn.btn-circle.icon-github(href='#')

  .col-lg-5
    a(href='single.html'): figure.feature
      img(src='uploads/photo-1.jpeg', alt='忘掉那些不开心，发现生活中的美好')
      figcaption.sr-only 忘掉那些不开心，发现生活中的美好
