section.fourth: .container
  .heading
    h2.title 最新分享
    p.subtitle 咱们一起来玩点新鲜的、好玩的、有意思的内容
    hr

  .row
    .col-md-4: .card
      div.card-img-overlay
        a(href='#'): .card-block
          h5.card-title Electron: 开始使用
          p.card-subtitle Electron: Getting start
      img.card-img-top(src='uploads/share1.jpeg', alt='demo')
      div.card-footer
        span 2017-12-11
        span: a(href='#') Electron

    .col-md-4: .card
      div.card-img-overlay
        a(href='#'): .card-block
          h5.card-title Electron: 开始使用
          p.card-subtitle Electron: Getting start
      img.card-img-top(src='uploads/share2.jpeg', alt='demo')
      div.card-footer
        span 2017-12-11
        span: a(href='#') Electron

    .col-md-4: .card
      div.card-img-overlay
        a(href='#'): .card-block
          h5.card-title Electron: 开始使用
          p.card-subtitle Electron: Getting start
      img.card-img-top(src='uploads/share3.jpeg', alt='demo')
      div.card-footer
        span 2017-12-11
        span: a(href='#') Electron
