section.fourth: .container
  .heading
    h2.title 最新分享
    p.subtitle 咱们一起来玩点新鲜的、好玩的、有意思的内容
    hr

  .row
    .col-md-6.col-lg-4: .card
      .card-header
        a(href='single.html')
          img.card-img-top(src='uploads/share-1.jpeg', alt='demo')
        .card-img-overlay
          a.card-heading(href='#')
            h3.card-title 美食: 开始使用
            h6.card-subtitle 美食: Getting started
      .card-footer
        span 2017-12-11
        span: a(href='single.html') 美食

    .col-md-6.col-lg-4: .card
      .card-header
        a(href='single.html')
          img.card-img-top(src='uploads/share-2.jpeg', alt='demo')
        .card-img-overlay
          a.card-heading(href='#')
            h3.card-title 美食: 开始使用
            h6.card-subtitle 美食: Getting started
      .card-footer
        span 2017-12-11
        span: a(href='single.html') 美食

    .col-md-6.col-lg-4: .card
      .card-header
        a(href='single.html')
          img.card-img-top(src='uploads/share-3.jpeg', alt='demo')
        .card-img-overlay
          a.card-heading(href='#')
            h3.card-title 美食: 开始使用
            h6.card-subtitle 美食: Getting started
      .card-footer
        span 2017-12-11
        span: a(href='single.html') 美食


  .more: a.btn.btn-primary.btn-wide-lg.btn-capsule(href='archive.html') 发现更多
