section.second: .container
  .heading
    h2.title 最近文章
    p.subtitle 留住生活中的点点滴滴，贵在记录和分享
    hr

  .row
    .col-md-6.col-lg-4: .card
      .card-header
        a(href='single.html')
          img.card-img-top(src='uploads/post-1.jpeg', alt='神秘的死亡谷')
        .card-img-overlay
          i.icon-pin 2017年12月11日
      .card-block
        h3.card-title: a(href='single.html') 神秘的死亡谷
        p.card-text 徒步去死亡谷的感觉是大海、山川所无法替代的，寂静的沙漠里，生命的孤寂、声音的静默乃至沙丘的无限延展，都形成了独特的肃穆气氛。
      .card-footer
        i.icon-paper-clip #[a(href='archive.html') 旅行]、#[a(href='archive.html') 远方]
        a(href='single.html') 继续阅读...

    .col-md-6.col-lg-4: .card
      .card-header
        a(href='single.html')
          img.card-img-top(src='uploads/post-2.jpeg', alt='神秘的死亡谷')
        .card-img-overlay
          i.icon-pin 2017年12月11日
      .card-block
        h3.card-title: a(href='single.html') 神秘的死亡谷
        p.card-text 徒步去死亡谷的感觉是大海、山川所无法替代的，寂静的沙漠里，生命的孤寂、声音的静默乃至沙丘的无限延展，都形成了独特的肃穆气氛。
      .card-footer
        i.icon-paper-clip #[a(href='archive.html') 旅行]、#[a(href='archive.html') 远方]
        a(href='single.html') 继续阅读...

    .col-md-6.col-lg-4: .card
      .card-header
        a(href='single.html')
          img.card-img-top(src='uploads/post-3.jpeg', alt='神秘的死亡谷')
        .card-img-overlay
          i.icon-pin 2017年12月11日
      .card-block
        h3.card-title: a(href='single.html') 神秘的死亡谷
        p.card-text 徒步去死亡谷的感觉是大海、山川所无法替代的，寂静的沙漠里，生命的孤寂、声音的静默乃至沙丘的无限延展，都形成了独特的肃穆气氛。
      .card-footer
        i.icon-paper-clip #[a(href='archive.html') 旅行]、#[a(href='archive.html') 远方]
        a(href='single.html') 继续阅读...

    .col-md-6.col-lg-4: .card
      .card-header
        a(href='single.html')
          img.card-img-top(src='uploads/post-4.jpeg', alt='神秘的死亡谷')
        .card-img-overlay
          i.icon-pin 2017年12月11日
      .card-block
        h3.card-title: a(href='single.html') 神秘的死亡谷
        p.card-text 徒步去死亡谷的感觉是大海、山川所无法替代的，寂静的沙漠里，生命的孤寂、声音的静默乃至沙丘的无限延展，都形成了独特的肃穆气氛。
      .card-footer
        i.icon-paper-clip #[a(href='archive.html') 旅行]、#[a(href='archive.html') 远方]
        a(href='single.html') 继续阅读...

    .col-md-6.col-lg-4: .card
      .card-header
        a(href='single.html')
          img.card-img-top(src='uploads/post-5.jpeg', alt='神秘的死亡谷')
        .card-img-overlay
          i.icon-pin 2017年12月11日
      .card-block
        h3.card-title: a(href='single.html') 神秘的死亡谷
        p.card-text 徒步去死亡谷的感觉是大海、山川所无法替代的，寂静的沙漠里，生命的孤寂、声音的静默乃至沙丘的无限延展，都形成了独特的肃穆气氛。
      .card-footer
        i.icon-paper-clip #[a(href='archive.html') 旅行]、#[a(href='archive.html') 远方]
        a(href='single.html') 继续阅读...

    .col-md-6.col-lg-4: .card
      .card-header
        a(href='single.html')
          img.card-img-top(src='uploads/post-6.jpeg', alt='神秘的死亡谷')
        .card-img-overlay
          i.icon-pin 2017年12月11日
      .card-block
        h3.card-title: a(href='single.html') 神秘的死亡谷
        p.card-text 徒步去死亡谷的感觉是大海、山川所无法替代的，寂静的沙漠里，生命的孤寂、声音的静默乃至沙丘的无限延展，都形成了独特的肃穆气氛。
      .card-footer
        i.icon-paper-clip #[a(href='archive.html') 旅行]、#[a(href='archive.html') 远方]
        a(href='single.html') 继续阅读...

  .more: a.btn.btn-primary.btn-wide-lg.btn-capsule(href='archive.html') 发现更多
