section.second: .container
  .heading
    h2.title 最近文章
    p.subtitle 留住生活中的点点滴滴，贵在记录和分享
    hr

  .row
    .col-md-6.col-lg-4: .card.card-item
      a(href='single.html'): span.card-img-overlay: i.icon-pin  2017年12月11日
      img.card-img-top(src='uploads/blog1.jpeg', alt='demo')
      div.card-block
        h5.card-title: a(href='single.html') 神秘的死亡谷
        p.card-text 世上最美的红沙漠里有一个神秘的死亡谷，那些花儿
      div.card-footer
        i.icon-paper-clip #[a(href='archive.html') 旅行]、#[a(href='archive.html') 远方]
        a(href='single.html') 继续阅读...

    .col-md-6.col-lg-4: .card.card-item
      a(href='single.html'): span.card-img-overlay: i.icon-pin  2017年12月11日
      img.card-img-top(src='uploads/blog2.jpeg', alt='demo')
      div.card-block
        h5.card-title: a(href='single.html') 神秘的死亡谷
        p.card-text 世上最美的红沙漠里有一个神秘的死亡谷，那些花儿
      div.card-footer
        i.icon-paper-clip #[a(href='archive.html') 旅行]、#[a(href='archive.html') 远方]
        a(href='single.html') 继续阅读...

    .col-md-6.col-lg-4: .card.card-item
      a(href='single.html'): span.card-img-overlay: i.icon-pin  2017年12月11日
      img.card-img-top(src='uploads/blog3.jpeg', alt='demo')
      div.card-block
        h5.card-title: a(href='single.html') 神秘的死亡谷
        p.card-text 世上最美的红沙漠里有一个神秘的死亡谷，那些花儿
      div.card-footer
        i.icon-paper-clip #[a(href='archive.html') 旅行]、#[a(href='archive.html') 远方]
        a(href='single.html') 继续阅读...

    .col-md-6.col-lg-4: .card.card-item
      a(href='single.html'): span.card-img-overlay: i.icon-pin  2017年12月11日
      img.card-img-top(src='uploads/blog4.jpeg', alt='demo')
      div.card-block
        h5.card-title: a(href='single.html') 神秘的死亡谷
        p.card-text 世上最美的红沙漠里有一个神秘的死亡谷，那些花儿
      div.card-footer
        i.icon-paper-clip #[a(href='archive.html') 旅行]、#[a(href='archive.html') 远方]
        a(href='single.html') 继续阅读...

    .col-md-6.col-lg-4: .card.card-item
      a(href='single.html'): span.card-img-overlay: i.icon-pin  2017年12月11日
      img.card-img-top(src='uploads/blog5.jpeg', alt='demo')
      div.card-block
        h5.card-title: a(href='single.html') 神秘的死亡谷
        p.card-text 世上最美的红沙漠里有一个神秘的死亡谷，那些花儿
      div.card-footer
        i.icon-paper-clip #[a(href='archive.html') 旅行]、#[a(href='archive.html') 远方]
        a(href='single.html') 继续阅读...

    .col-md-6.col-lg-4: .card.card-item
      a(href='single.html'): span.card-img-overlay: i.icon-pin  2017年12月11日
      img.card-img-top(src='uploads/blog6.jpeg', alt='demo')
      div.card-block
        h5.card-title: a(href='single.html') 神秘的死亡谷
        p.card-text 世上最美的红沙漠里有一个神秘的死亡谷，那些花儿
      div.card-footer
        i.icon-paper-clip #[a(href='archive.html') 旅行]、#[a(href='archive.html') 远方]
        a(href='single.html') 继续阅读...

  .more: a.btn.btn-primary.btn-wide-lg.btn-capsule(href='archive.html') 发现更多
