section.third: .container: .row
  .col-md-5
    a(href='#'): figure.feature
      img(src='uploads/feature2.jpeg', alt='身体和灵魂，总有一个要在路上')
      figcaption.sr-only 身体和灵魂，总有一个要在路上

  .col-md-7
    article.article
      h3.title 要么读书,要么旅行
      h5.subtitle 身体和灵魂，总有一个要在路上
      div.content
        p 她是一个自小就拥有流浪梦的狮子座女孩。在美国硕士毕业之后，她决定去追逐内心的声音，做真正想成为的那个自己。于是，她开始了打工、旅行的生活。在为期三个月的打工过程中，她与之前从未接触过的人们相处、打拼，学会了如何去战胜自己，如何努力做好那些之前从未接触过的工作。
        p 在结束打工后，她毅然背起背包，开始了独行之旅。她享受睡灰狗巴士、搭便车的时光，在奔波中懂得了珍惜和感恩。在与二十多个沙发主人的相处中，她走进了每个人不同的片断生活。
        p 通过和他们一起旅行、画画、谈音乐、做美食，聊社会文化，她有了新的领悟和收获。这些用文字、镜头和画笔记录下来的旅程点滴，成为她成长经历的真实证明。这个历程对她来说，只是生命长度中极其微小的缩影。怀揣梦想，继续上路，她对自己说只要你愿意，你也可以。
      a.btn.btn-primary.btn-capsule(href='#') 继续阅读
