// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.site-footer {
  .widgets {
    background-color: $brand-primary;
    font-size: .875rem;
    @extend .pt-4;
    @extend .text-center;
    @extend .text-md-left;

    &, a {
      @extend .text-white;
    }

    img {
      @extend .img-fluid;
      @extend .px-5;
    }

    ul {
      list-style: none;
      @extend .px-2;
    }

    .row {
      // @extend .flex-sm-column-reverse;
      @extend .flex-column-reverse;
      @extend .flex-md-row;
      @extend .flex-md-wrap-reverse;
      @extend .flex-lg-row;
    }

    .widget {
      @extend .mb-5;
      @extend .px-4;
      @extend .px-sm-0;
    }

    .title {
      border-bottom: .0625rem dashed lighten($brand-primary, 12);
      font-size: 1rem;
      @extend .py-3;
      @extend .mb-3;
    }

    .form-control {
      border-color: lighten($brand-primary, 12);
      background-color: $brand-primary;
      @extend .text-white;
    }

    .btn-primary {
      border-color: lighten($brand-primary, 12);
      background-color: lighten($brand-primary, 12);
      @extend .px-4;
    }
  }

  .copyright {
    border-top: .0625rem solid lighten($brand-primary, 5);
    background-color: lighten($brand-primary, 2);
    color: lighten($brand-primary, 60);
    @extend .text-center;

    p {
      margin: 0;
      font-size: .8125rem;
      line-height: 3;
    }
  }
}
