// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.site-footer {
  .widgets {
    background-color: #2b3b49;
    font-size: .875rem;
    @extend .py-6;
    @extend .text-white;

    .title {
      font-size: 1.125rem;
      @extend .mb-3;
    }

    .subscribe {
      @extend .py-3;

      .input-group {
        @extend .mt-4;
      }

      .form-control {
        border-color: lighten(#2b3b49, 12);
        background-color: #2b3b49;
        @extend .text-white;
      }

      .btn-primary {
        border-color: lighten(#2b3b49, 12);
        background-color: lighten(#2b3b49, 12);
        @extend .px-5;
      }
    }

    a {
      @extend .text-white;
    }
  }

  .copyright {
    border-top: .0625rem solid lighten(#2b3b49, 5);
    background-color: lighten(#2b3b49, 2);
    color: lighten(#2b3b49, 60);

    p {
      margin: 0;
      font-size: .875rem;
      line-height: 3;
    }
  }
}
