// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

// https://make.wordpress.org/core/handbook/best-practices/coding-standards/css/
// Display
// Positioning
// Box model
// Colors and Typography
// Other
// --------------------------
// TODOS:
// 1. Bootstrap || Custom

.site-header {
  // position: relative;

  overflow: hidden;

  .navbar {
    position: absolute;
    z-index: $zindex-sticky;

    @extend .w-100;
    @extend .bg-white;
    @extend .navbar-expand-lg;
    @extend .navbar-light;
    @include media-breakpoint-down (md) {
      .navbar-nav {
        margin-top: $navbar-padding-y;

        border-top: border($indigo-8);
      }

      .nav-item {
        padding: 0 $navbar-padding-y;

        transform: rotateX(0);

        border-bottom: border($indigo-8);

        @include transition($transition-transform);
      }

      .dropdown-menu {
        margin-bottom: .5rem;
      }

      .form-inline {
        margin: 1.25rem 0 1rem;

        opacity: 1;

        @include transition($transition-fade);
      }

      .form-control {
        width: 100%;
      }

      .collapsing {
        .nav-item {
          transform: rotateX(-90deg);
        }

        .form-inline {
          opacity: 0;
        }
      }
    }

    h1 {
      margin-bottom: 0;
    }

    .navbar-brand {
      // 1. Font icon brand
      color: $navbar-light-color;

      font-size: $brand-size;
      line-height: $brand-size;

      @include hover-focus {
        color: $navbar-light-hover-color;
      }

      // // 2. Image brand
      // img {
      //   height: $brand-size;
      // }
    }

    .navbar-nav {
      @extend .mr-auto;
    }

    .form-inline {
      position: relative;

      .form-control {
        min-width: 3rem;
        padding-left: ($input-btn-padding-y + .25rem) * 2 + .75rem;

        @include transition(border-color .5s, min-width .5s);

        &:focus {
          min-width: 17rem;

          & + label {
            color: darken($input-border-color-focus, 5%);
          }
        }
      }

      label {
        position: absolute;
        top: 0;
        left: 0;

        margin: 0;
        padding: $input-btn-padding-y + .25rem;

        color: darken($input-border-color, 5%);

        @include transition($transition-color);
      }
    }

    // // fixed when scrolled
    // .scrolled & {
    //   position: fixed;
    //   box-shadow: 0 0 1rem $gray;
    // }
  }

  .media {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    // bottom: 0;
    left: 0;

    overflow: hidden;

    .mask {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $mask-bg-image;
    }

    img, video {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  .hero {
    .intro {
      display: flex;
      flex-direction: column;

      height: 37.5rem;
      margin-top: $navbar-padding-y * 2 + $navbar-brand-padding-y * 2 + $brand-size;

      justify-content: center;
      align-items: center;
    }

    .title, .slogan {
      font-family: 'againts';
    }

    .title {
      color: $title-color;

      font-size: 4rem;
    }

    .slogan {
      color: $subtitle-color;

      font-size: 2.5rem;

      @extend .mb-5;
    }
  }

  .feature {
    .container {
      margin-top: $navbar-padding-y * 2 + $navbar-brand-padding-y * 2 + $brand-size;
    }

    .mask {
      background: linear-gradient(transparent, $body-bg), $mask-bg-image;
    }

    img, video {
      filter: blur(.125rem);
    }

    .breadcrumb {
      font-size: .875rem;

      @include change-link-color;
    }

    .title {
      color: $title-color;

      font-size: 2.125rem;
      line-height: 2.5;

      @extend .mt-5;
      @extend .text-center;
      @extend .text-sm-left;
    }

    .slogan {
      color: $subtitle-color;

      font-size: 1.125rem;

      @extend .pl-sm-4;
      @extend .pl-md-6;
      @extend .mb-8;
      @extend .text-center;
      @extend .text-sm-left;

      &::before {
        content: '\2014 \00A0'; // ' —— ';
      }
    }
  }
}
