// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
// https://make.wordpress.org/core/handbook/best-practices/coding-standards/css/
// Display
// Positioning
// Box model
// Colors and Typography
// Other
// --------------------------
// TODOS:
// 1. Bootstrap || Custom

.site-header {
  // position: relative;
  overflow: hidden;

  .navbar {
    position: absolute;
    width: 100%;

    .navbar-brand {
      img {
        height: 2.5rem;
      }
    }

    .navbar-nav {
      @extend .mr-auto;
    }

    // `.navbar-collapse` response menu
    .collapsing, .show {
      .navbar-nav {
        padding-top: $navbar-padding-y;
      }

      .nav-item {
        padding: 0 $navbar-padding-x;
        border-top: .0625rem solid $gray-lighter;
      }
    }

    .form-inline {
      position: relative;

      .form-control {
        padding-left: ($input-btn-padding-y + .1875rem) * 2 + $font-size-base - .0625rem;
        min-width: 3rem;
        transition: border-color .5s, min-width .5s;

        &:focus {
          min-width: 17rem;

          & + label {
            @extend .text-gray-dark;
          }
        }
      }

      label {
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: $input-btn-padding-y + .1875rem;
        transition: color .5s;
        @extend .text-muted;
      }

      @include media-breakpoint-down (md) {
        margin-bottom: 1rem;
        border-top: .0625rem solid $gray-lighter;
        padding-top: 1.25rem;


        .form-control {
          width: 100%;
        }
      }
    }
  }

  .media {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    img, video {
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .hero {
    .mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background: url(../images/mask.png);
      opacity: .8;
    }

    .intro {
      height: 37.5rem;
      margin-top: 4.125rem;
      @extend .d-flex;
      @extend .flex-column;
      @extend .justify-content-center;
      @extend .align-items-center;
      @extend .text-white;
    }

    .title, .slogan {
      font-family: 'againts';
    }

    .title {
      font-size: 4rem; // 6rem;
    }

    .slogan {
      font-size: 2.5rem; // 3rem;
      @extend .mb-5;
    }

    .btn {

    }
  }

  .feature {
    .container {
      margin-top: 4.125rem;
      @extend .text-white;
    }

    .mask {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-image: linear-gradient(transparent, #fff), url(../images/mask.png);
    }

    img, video {
      filter: blur(.125rem);
      @extend .pb-2;
    }

    .breadcrumb {
      font-size: .875rem;

      a {
        @extend .text-white;
      }
    }

    .title {
      font-size: 2.125rem; // 6rem;
      line-height: 2.5;
      @extend .mt-5;
    }

    .slogan {
      font-size: 1.125rem; // 3rem;
      text-indent: 2em;
      @extend .mb-8;

      &::before {
        content: ' —— '
      }
    }
  }
}
