// $color-1:                 #1b2b39;
// $color-2:                 #2b3b49;
// $color-3:                 #3b4b59;
// $color-4:                 #4b5b69;
// $color-5:                 #5b6b79;
// $color-6:                 #6b7b89;
// $color-7:                 #7b8b99;
// $color-8:                 #8b9ba9;
// $color-9:                 #9babb9;
// $color-a:                 #abbbc9;
// $color-b:                 #bbcbd9;
// $color-c:                 #cbdbe9;
// $color-d:                 #dbebf9;
// $color-e:                 #ebfbf9;
// $color-f:                 #fbfbf9;

$color-1:                 #000101;
$color-2:                 #0f1419;
$color-3:                 #1d2831;
$color-4:                 #2b3b49;
$color-5:                 #394e61;
$color-6:                 #476279;
$color-7:                 #567591;
$color-8:                 #6789a6;
$color-9:                 #7f9bb4;
$color-a:                 #97aec2;
$color-b:                 #b0c1d0;
$color-c:                 #c8d4de;
$color-d:                 #e0e7ed;
$color-e:                 #f8f9fb;
$color-f:                 #ffffff;

@import 'bootstrap';
