// -----------------------------------------------------------------------------
// This file contains global variables.
// -----------------------------------------------------------------------------


// My variables
// --------------------------------------------------

$indigo-1:                #0b0f13;
$indigo-2:                #2b3b49;
$indigo-3:                #40586d;
$indigo-4:                #6284a2;
$indigo-5:                #86a0b8;
$indigo-6:                #aabdcd;
$indigo-7:                #ced9e2;
$indigo-8:                #e1e7ed;
$indigo-9:                #f6f7f9; // #f8f9fb;
$indigo-10:               #f9fafc;

$base-url: '../';
$brand-size: 2.5rem;
$title-color: $indigo-10;
$subtitle-color: $indigo-9;
$border-color: $indigo-7;


$mask-bg-image: 0 / 3px url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjAiIHk9IjAiIHZpZXdCb3g9IjAgMCA0IDQiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8ZyBzdHlsZT0ib3BhY2l0eTowLjU7Ij4KCTxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIyIiBoZWlnaHQ9IjIiLz4KICA8cmVjdCB4PSIyIiB5PSIyIiB3aWR0aD0iMiIgaGVpZ2h0PSIyIi8+CjwvZz4KPC9zdmc+Cg==');








// .demo {
//   color: #000000;
//   color: #0b0f13;
//   color: #161e25;
//   color: #202c37;
//   color: #2b3b49;
//   color: #364a5b;
//   color: #40586d;
//   color: #4b677f;
//   color: #567692;
//   color: #6284a2;
//   color: #7492ad;
//   color: #86a0b8;
//   color: #98afc2;
//   color: #aabdcd;
//   color: #bccbd8;
//   color: #ced9e2;
//   color: #e1e7ed;
//   color: #f3f5f8;
//   color: #ffffff;
// }



// $color-1:       #000101;
// $color-2:       #0f1419;
// $color-3:       #1d2831;
// $color-4:       #2b3b49;
// $color-5:       #394e61;
// $color-6:       #476279;
// $color-7:       #567591;
// $color-8:       #6789a6;
// $color-9:       #7f9bb4;
// $color-a:       #97aec2;
// $color-b:       #b0c1d0;
// $color-c:       #c8d4de;
// $color-d:       #e0e7ed;
// $color-e:       #f8f9fb;
// $color-f:       #ffffff;


// $color-1:                 #1b2b39;
// $color-2:                 #2b3b49;
// $color-3:                 #3b4b59;
// $color-4:                 #4b5b69;
// $color-5:                 #5b6b79;
// $color-6:                 #6b7b89;
// $color-7:                 #7b8b99;
// $color-8:                 #8b9ba9;
// $color-9:                 #9babb9;
// $color-a:                 #abbbc9;
// $color-b:                 #bbcbd9;
// $color-c:                 #cbdbe9;
// $color-d:                 #dbebf9;
// $color-e:                 #ebfbf9;
// $color-f:                 #fbfbf9;
