@mixin change-link-color($color: $indigo-9, $inner: false) {
  @if $inner {
    color: $color;

    @include hover-focus {
      color: darken($color, 20%);
    }
  } @else {
    a {
      color: $color;

      @include hover-focus {
        color: darken($color, 20%);
      }
    }
  }
}
