extends shared/base/layout

block global

  - title = 'Archive'
  - cover = 'feature_with_title'
  - hasSidebar = true

block wrapper

  include shared/archive/sticky

  include shared/archive/quote

  include shared/archive/feature

  include shared/archive/normal

  nav: ul.pagination
    li.page-item: a.page-link(href='#') &larr;
    li.page-item.disabled: span.page-link ...
    li.page-item: a.page-link(href='#') 1
    li.page-item: a.page-link(href='#') 2
    li.page-item: a.page-link(href='#') 3
    li.page-item: a.page-link(href='#') 4
    li.page-item: a.page-link(href='#') 5
    li.page-item.disabled: span.page-link ...
    li.page-item: a.page-link(href='#') &rarr;
