extends shared/base/layout

block global

  - const title = 'Landing Page'
  - const description = 'Hello world'
  - const keywords = 'wedn, wedn.net, zce, iceStone'
  - const author = 'iceStone <ice@wedn.net> (https://github.com/zce)'
  - const generator = 'WEDN.NET'

block wrapper

  include shared/home/first

  include shared/home/second

  include shared/home/third

  include shared/home/fourth

  include shared/home/fifth

  //- include shared/home/sixth
