extends shared/base/layout

block global

  - title = 'Landing'

block wrapper

  include shared/home/first

  include shared/home/second

  include shared/home/third

  include shared/home/fourth

  include shared/home/fifth

  //- include shared/home/sixth
