-
  entry = {
    share: true,
    title: '【西班牙】安特克拉，惊艳十足',
    subtitle: '一个足球王国的美好',
    content: [
      '西班牙，安达卢西亚，还有多少惊喜在等待！',
      '在距离马拉加不远的小城安特克拉（Antequera），从头到尾，我都在不由暗暗感叹或者高声赞叹，这个之前并不了解的小城，实在太过有料，丰富的景观，别致的人文，奇妙的山脉，美妙的食物，简直让人应接不暇。',
      '在距离马拉加不远的小城安特克拉（Antequera），从头到尾，我都在不由暗暗感叹或者高声赞叹，这个之前并不了解的小城，实在太过有料，丰富的景观，别致的人文，奇妙的山脉，美妙的食物，简直让人应接不暇。',
      '在距离马拉加不远的小城安特克拉（Antequera），从头到尾，我都在不由暗暗感叹或者高声赞叹，这个之前并不了解的小城，实在太过有料，丰富的景观，别致的人文，奇妙的山脉，美妙的食物，简直让人应接不暇。',
      '在距离马拉加不远的小城安特克拉（Antequera），从头到尾，我都在不由暗暗感叹或者高声赞叹，这个之前并不了解的小城，实在太过有料，丰富的景观，别致的人文，奇妙的山脉，美妙的食物，简直让人应接不暇。',
      '在距离马拉加不远的小城安特克拉（Antequera），从头到尾，我都在不由暗暗感叹或者高声赞叹，这个之前并不了解的小城，实在太过有料，丰富的景观，别致的人文，奇妙的山脉，美妙的食物，简直让人应接不暇。',
      '在距离马拉加不远的小城安特克拉（Antequera），从头到尾，我都在不由暗暗感叹或者高声赞叹，这个之前并不了解的小城，实在太过有料，丰富的景观，别致的人文，奇妙的山脉，美妙的食物，简直让人应接不暇。',
      '在距离马拉加不远的小城安特克拉（Antequera），从头到尾，我都在不由暗暗感叹或者高声赞叹，这个之前并不了解的小城，实在太过有料，丰富的景观，别致的人文，奇妙的山脉，美妙的食物，简直让人应接不暇。',
      '······'
    ],
    single: true
  }

include ../post/entry
