.navigation
  .nav-links
    h4.sr-only 文章导航
    .prev
      a(href='#') &larr; 上一篇#[br]《最红的太阳》
    .next
      a(href='#') 下一篇 &rarr;#[br]《最红的太阳》

  .related
    h4.sr-only 相关文章
    .row
      .col-md-4: .item
        img(src='uploads/related-1.jpeg', alt='最红的太阳')
        h5.title: a(href='#') 《最红的太阳》
      .col-md-4: .item
        img(src='uploads/related-2.jpeg', alt='最红的太阳')
        h5.title: a(href='#') 《最红的太阳》
      .col-md-4: .item
        img(src='uploads/related-3.jpeg', alt='最红的太阳')
        h5.title: a(href='#') 《最红的太阳》
