// Head room js styles
.topbar {
  position: fixed !important;

  will-change: transform;
  @include transition($transition-transform);

  &.is-pinned {
    transform: translateY(0);
  }

  &.is-unpinned {
    transform: translateY(-110%);
  }

  &.is-not-top {
    box-shadow: 0 0 1rem $gray;
  }
}
