// -----------------------------------------------------------------------------
// This file contains Icon font styles.
// -----------------------------------------------------------------------------

// Default Variables
$icon-font-path: '../fonts/';
$icon-font-family: 'reborn';
$icon-font-prefix: 'icon-';

$icon-font-chars: (
  logo: '\e900',
  // user-female: '\e000',
  // people: '\e001',
  // user-follow: '\e002',
  // user-following: '\e003',
  // user-unfollow: '\e004',
  user: '\e005',
  // trophy: '\e006',
  // speedometer: '\e007',
  // shield: '\e00e',
  // screen-tablet: '\e00f',
  // screen-smartphone: '\e010',
  // screen-desktop: '\e011',
  // plane: '\e012',
  // notebook: '\e013',
  // mustache: '\e014',
  // mouse: '\e015',
  // magnet: '\e016',
  // magic-wand: '\e017',
  // hourglass: '\e018',
  // graduation: '\e019',
  // ghost: '\e01a',
  // game-controller: '\e01b',
  // fire: '\e01c',
  // eyeglass: '\e01d',
  // envelope-open: '\e01e',
  // envolope-letter: '\e01f',
  // energy: '\e020',
  // emotsmile: '\e021',
  // disc: '\e022',
  // cursor-move: '\e023',
  // crop: '\e024',
  // credit-card: '\e025',
  // chemistry: '\e026',
  // bell: '\e027',
  // badge: '\e028',
  // anchor: '\e029',
  // wallet: '\e02a',
  // vector: '\e02b',
  // speech: '\e02c',
  // puzzle: '\e02d',
  // printer: '\e02e',
  // present: '\e02f',
  // playlist: '\e030',
  pin: '\e031',
  // picture: '\e032',
  // map: '\e033',
  // layers: '\e034',
  // handbag: '\e035',
  // globe-alt: '\e036',
  // globe: '\e037',
  // frame: '\e038',
  // folder-alt: '\e039',
  // film: '\e03a',
  // feed: '\e03b',
  // earphones-alt: '\e03c',
  // earphones: '\e03d',
  // drop: '\e03e',
  // drawar: '\e03f',
  // docs: '\e040',
  // directions: '\e041',
  // direction: '\e042',
  // diamond: '\e043',
  // cup: '\e044',
  // compass: '\e045',
  // call-out: '\e046',
  // call-in: '\e047',
  // call-end: '\e048',
  // calculator: '\e049',
  // bubbles: '\e04a',
  // briefcase: '\e04b',
  // book-open: '\e04c',
  // basket-loaded: '\e04d',
  // basket: '\e04e',
  // bag: '\e04f',
  action-undo: '\e050',
  // action-redo: '\e051',
  // wrench: '\e052',
  // umbrella: '\e053',
  // trash: '\e054',
  tag: '\e055',
  // support: '\e056',
  // size-fullscreen: '\e057',
  // size-actual: '\e058',
  // shuffle: '\e059',
  share-alt: '\e05a',
  // share: '\e05b',
  // rocket: '\e05c',
  // question: '\e05d',
  // pie-chart: '\e05e',
  pencil: '\e05f',
  // note: '\e060',
  // music-tone-alt: '\e061',
  // music-tone: '\e062',
  // microphone: '\e063',
  // loop: '\e064',
  // logout: '\e065',
  // login: '\e066',
  // list: '\e067',
  like: '\e068',
  // home: '\e069',
  // grid: '\e06a',
  // graph: '\e06b',
  // equalizer: '\e06c',
  dislike: '\e06d',
  // cursor: '\e06e',
  // control-start: '\e06f',
  // control-rewind: '\e070',
  // control-play: '\e071',
  // control-pause: '\e072',
  // control-forward: '\e073',
  // control-end: '\e074',
  calender: '\e075',
  // bulb: '\e076',
  // chart: '\e077',
  // arrow-up-circle: '\e078',
  // arrow-right-circle: '\e079',
  // arrow-left-circle: '\e07a',
  // arrow-down-circle: '\e07b',
  // ban: '\e07c',
  bubble: '\e07d',
  // camrecorder: '\e07e',
  // camera: '\e07f',
  // check: '\e080',
  // clock: '\e081',
  // close: '\e082',
  // cloud-download: '\e083',
  // cloud-upload: '\e084',
  // doc: '\e085',
  // envolope: '\e086',
  // eye: '\e087',
  // flag: '\e088',
  // folder: '\e089',
  // heart: '\e08a',
  // info: '\e08b',
  // key: '\e08c',
  link: '\e08d',
  // lock: '\e08e',
  // lock-open: '\e08f',
  magnifier: '\e090',
  // magnifier-add: '\e091',
  // magnifier-remove: '\e092',
  paper-clip: '\e093',
  // paper-plane: '\e094',
  // plus: '\e095',
  // location: '\e096',
  // power: '\e097',
  // refresh: '\e098',
  // reload: '\e099',
  // settings: '\e09a',
  // star: '\e09b',
  // symble-female: '\e09c',
  // symbol-male: '\e09d',
  // target: '\e09e',
  // volume-down: '\e09f',
  // volume-up: '\e0a0',
  // volume-off: '\e0a1',
  // phone: '\e600',
  // menu: '\e601',
  // options-vertical: '\e602',
  // options: '\e603',
  // arrow-down: '\e604',
  // arrow-left: '\e605',
  // arrow-right: '\e606',
  // arrow-up: '\e607',
  // paypal: '\e608',
  // minus: '\e615',
  // organization: '\e616',
  // exclamation: '\e617',
  // event: '\e619',
  // apple: '\e901',
  // baidu: '\e903',
  // codepen: '\e905',
  dribbble: '\e906',
  // evernote: '\e907',
  facebook: '\e909',
  github: '\e90a',
  google: '\e90b',
  whatsapp: '\e90c',
  google-plus: '\e90d',
  instagram: '\e90e',
  linkedin: '\e90f',
  pocket: '\e910',
  // rss: '\e911',
  weibo: '\e912',
  slack: '\e913',
  qq: '\e915',
  twitter: '\e916',
  // visa: '\e919',
  wechat: '\e91a',
  wordpress: '\e91b',
  youtube: '\e91d'
);

@font-face {
  font-family: $icon-font-family;
  font-weight: normal;
  font-style: normal;

  src:
    url('#{$icon-font-path}/reborn.ttf?8yiecd') format('truetype'),
    url('#{$icon-font-path}/reborn.woff?8yiecd') format('woff'),
    url('#{$icon-font-path}/reborn.svg?8yiecd#reborn') format('svg');
}

[class^='icon-'],
[class*=' icon-'] {
  text-transform: none;
  /* use !important to prevent issues with browser extensions that change fonts */

  font-family: $icon-font-family !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;

  speak: none;
  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// icon item class
.#{$icon-font-prefix} {
  @each $name, $char in $icon-font-chars {
    &#{$name}::before {
      content: $char;
    }
  }
}

// alias
// .byline,
// .posted-on,
// .cat-links,
// .tags-links {
//   &::before {
//     @extend [class^='icon-'];
//   }
// }

// .byline {
//   @extend .icon-user;
// }

// .posted-on {
//   @extend .icon-calender;
// }

// .cat-links {
//   @extend .icon-paper-clip;
// }

// .tags-links {
//   @extend .icon-tag;
// }
