.card-meta
  .meta
    span.byline
      span.sr-only 作者
      a(href='#') #[img(src='uploads/avatar.jpeg', alt='汪磊', width='32')]汪磊
    span.posted-on
      span.sr-only 日期
      a(href='#') 2017年06月06日
    span.cat-links
      span.sr-only 分类
      span: a(href='#') 生活
  .meta
    span.comments-link
      span.sr-only 评论
      a.icon-bubble(href='#') 10
    span.like-link
      span.sr-only 喜欢
      a.icon-like(href='#') 90
    span.dislike-link
      span.sr-only 不喜欢
      a.icon-dislike(href='#') 0
    span.share-link
      span.sr-only 分享
      a.icon-share-alt(href='#')
