-
  entry = {
    format: 'quote',
    quote: '人活着，总是需要一点精神的',
    title: '时代的精神正在消退',
    content: [
      '我2007年在深圳时，还是一个自负的青年，说：“我代表了这个时代的最高精神。”这些年来，我一直在想，能不能配得上这句话，所以从那时到现在，我尽可能地在努力。',
      '那么，我们这个时代的最高精神究竟是什么？······'
    ]
  }

include ../post/entry
