-
  entry = {
    sticky: true,
    thumbnail: 'uploads/entry-2.jpeg',
    title: '香港电影那些年',
    subtitle: '有华人的地方，就有香港电影',
    content: [
      '香港电影是中文电影的先驱者，“有华人的地方，就有香港电影”，港产片多年来风靡全球，成为华人文化的一大标记。',
      '相较于中国电影、新加坡电影和台湾电影，香港电影的质素和数量已经有在长时间累积下来的实力及口碑。······'
    ]
  }

include ../post/entry
