article.card.card-entry.format-standard.has-post-thumbnail.sticky
  header.card-header
    .card-sticky #[i] #[i] #[i]
    a(href='single.html')
      img.card-img-top(src='uploads/entry-2.jpeg', alt='维多利亚港黄昏')
    .card-img-overlay: .card-meta.row
      .col-sm-7
        a(href='#'): span #[img(src='uploads/avatar.jpeg', alt='汪磊', width='30')]汪磊
        a(href='#'): span.icon-paper-clip 生活
        a(href='#'): span.icon-calender 2017年06月06日
      .col-sm-5
        a(href='#'): span.icon-bubble 10
        a(href='#'): span.icon-like 90
        a(href='#'): span.icon-dislike 0
        a(href='#'): span.icon-share-alt
  content.card-block
    h2.card-title: a(href='single.html') 香港电影那些年
    h5.card-subtitle 有华人的地方，就有香港电影
    .card-text
      p 香港电影是中文电影的先驱者，“有华人的地方，就有香港电影”，港产片多年来风靡全球，成为华人文化的一大标记。
      p 相较于中国电影、新加坡电影和台湾电影，香港电影的质素和数量已经有在长时间累积下来的实力及口碑。......
  footer.card-footer
    span.icon-tag #[a(href='archive.html') 旅行]、#[a(href='archive.html') 远方]
    a(href='single.html') 继续阅读 →
