article.card.card-entry.format-standard.has-post-thumbnail.sticky
  header.card-header
    .card-sticky #[i] #[i] #[i]
    a(href='single.html')
      img.card-img-top(src='uploads/entry-2.jpeg', alt='维多利亚港黄昏')
    .card-img-overlay: .card-meta
      .left
        a(href='#') #[img(src='uploads/avatar.jpeg', alt='汪磊', width='32')]汪磊
        a.icon-calender(href='#') 2017年06月06日
        a.icon-paper-clip(href='#') 生活
      .right
        a.icon-bubble(href='#') 10
        a.icon-like(href='#') 90
        a.icon-dislike(href='#') 0
        a.icon-share-alt(href='#')
  content.card-body
    h2.card-title: a(href='single.html') 香港电影那些年
    h5.card-subtitle 有华人的地方，就有香港电影
    .card-text
      p 香港电影是中文电影的先驱者，“有华人的地方，就有香港电影”，港产片多年来风靡全球，成为华人文化的一大标记。
      p 相较于中国电影、新加坡电影和台湾电影，香港电影的质素和数量已经有在长时间累积下来的实力及口碑。......
  footer.card-footer
    span.icon-tag #[a(href='archive.html') 旅行]、#[a(href='archive.html') 远方]
    a(href='single.html') 继续阅读 →
