// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
// Display
// Positioning
// Box model
// Colors and Typography
// Other
// --------------------------

// Section common styles
// --------------------------

.site-main > section {
  @extend .py-7;

  .heading {
    @extend .text-center;

    .title {
      @extend .mb-3;
    }

    .subtitle {
      @extend .mb-3;
      @extend .text-muted;
      @extend .lead;
    }

    hr {
      @extend .w-25;
      @extend .mb-6;
    }
  }

  .feature {
    padding: 5%;

    box-shadow: 0 0 1rem rgba($indigo-2, .6);

    @extend .mb-5;
    @extend .bg-white;

    img {
      @extend .w-100;
    }
  }

  .article {
    .title {
      @extend .text-gray-dark;
      @extend .text-center;
      @extend .text-md-left;
    }

    .subtitle {
      @extend .lead;
      @extend .text-muted;
      @extend .text-center;
      @extend .text-md-right;

      &::before {
        content: '\2014 \00A0'; // ' —— '
      }
    }

    .content {
      p {
        text-indent: 2em;
      }
    }
  }

  .more {
    @extend .mt-4;
    @extend .text-center;
  }
}

// First section styles
// --------------------------

.first {
  @extend .bg-faded;

  .row {
    @extend .flex-column-reverse;
    @extend .flex-lg-row;
  }

  .article {
    margin-bottom: 4.25rem;

    @extend .pr-lg-5;

    .content {
      @extend .mt-5;

      p {
        font-size: 1.125rem;
        line-height: 2.2;
      }
    }

    .btn {
      @extend .m-3;
      @extend .d-block;
      @extend .d-lg-inline-block;
    }
  }

  .share {
    position: absolute;
    bottom: 0;
    padding: 0;
    list-style: none;

    @extend .m-3;

    li {
      display: inline-block;
    }

    .btn:hover {
      transform: rotate(360deg);
    }
  }
}

// Second section styles
// --------------------------

.second {
  .card {
    .card-img-overlay {
      margin-bottom: 8.875rem;

      background: linear-gradient(transparent, $brand-primary);

      @extend .align-items-end;
    }

    .icon-pin {
      font-size: 81.25%;

      @extend .text-white;
    }

    .card-img-top {
      max-height: 16.875rem;
    }
  }
}

// Third section styles
// --------------------------

.third {
  @extend .bg-faded;
  @include media-breakpoint-up (lg) {
    .feature {
      transform: rotate(-15deg);
    }
  }

  .article {
    @extend .pl-lg-7;
    .content {
      @extend .mt-3;

      p {
        font-size: 1rem;
        line-height: 2;
      }
    }

    .btn {
      @extend .m-5;
      @extend .float-right;
    }
  }
}

// Fourth section styles
// --------------------------

.fourth {
  .card {
    .card-img-overlay {
      margin-bottom: 2.75rem;

      background: linear-gradient(rgba($brand-primary, .1), rgba($brand-primary, .8));

      @extend .justify-content-center;
      @extend .align-items-center;
      @extend .text-center;
    }

    .card-img-top {
      max-height: 12.5rem;
    }

    .card-block {
      background-color: rgba($brand-primary, .7);

      flex: 0;
      @extend .py-3;
      @extend .text-white;
    }

    .card-subtitle {
      border-top: .0625rem solid lighten($brand-primary, 40%);
    }
  }
}

// Fifth section styles
// --------------------------

.fifth {
  @extend .bg-faded;
}

// Sixth section styles
// --------------------------

.sixth {
}
