// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
// Display
// Positioning
// Box model
// Colors and Typography
// Other
// --------------------------

.first {
  @extend .py-8;
  @extend.bg-faded;

  .article {
    @extend .pr-5;
    @extend .mb-5;

    .title {
      @extend .text-gray-dark;
    }

    .content {
      @extend .mt-5;

      p {
        font-size: 1.125rem;
        text-indent: 2em;
        line-height: 2;
      }
    }

    .btn {
      @extend .m-4;
    }
  }

  .share {
    position: absolute;
    bottom: 0;
    @extend .ml-3;
  }

  .feature {
    background-color: #fff;
    box-shadow: 0 0 1rem #c0c0c0;
    @extend .mb-0;
    @extend .p-4;

    img {
      @extend .w-100;
    }
  }
}

.second {
  @extend .py-8;

  .heading {
    @extend .text-center;

    .title {
      @extend .mb-4;
    }

    .subtitle {
      @extend .text-muted;
    }

    hr {
      @extend .w-25;
      @extend .mb-6;
    }
  }

  .card {
    overflow: hidden;
    box-shadow: 0 0 1rem #e0e0e0;
    transition: box-shadow .5s;
    @extend .border-0;
    @extend .mb-5;

    .card-img-overlay {
      z-index: 1;
      margin-bottom: 8.875rem;
      background: linear-gradient(transparent, #2b3b49);
      transition: opacity .3s;

      .icon-pin {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: $card-img-overlay-padding;
        font-size: 81.25%;
        @extend .text-white;
      }
    }

    .card-img-top {
      max-height: 16.875rem;
      object-fit: cover;
      transition: transform .3s;
    }

    .card-block {
      z-index: 1;
      background-color: #fff;

      .card-title {

      }

      .card-text {
        @extend .text-truncate;
      }
    }

    .card-footer {
      border-color: #f0f0f0;
      background-color: transparent;
      font-size: 81.25%;
      @extend .d-flex;
      @extend .justify-content-between;
      @extend .text-muted;
    }

    &:hover {
      .card-img-overlay {
        opacity: .6;
      }

      .card-img-top {
        transform: scale(1.1);
      }
    }
  }

  .more {
    @extend .mt-5;
    @extend .text-center;
  }
}

.third {
  @extend .py-8;
  @extend .bg-faded;

  .feature {
    background-color: #fff;
    box-shadow: 0 0 1rem #c0c0c0;
    transform: rotate(-15deg);
    @extend .mb-0;
    @extend .p-4;

    img {
      @extend .w-100;
    }
  }

  .article {
    @extend .pl-7;

    .title {
      @extend .text-gray-dark;
    }

    .subtitle {
      font-weight: normal;
      @extend .text-muted;

      &::before {
        content: ' —— '
      }
    }

    .content {
      @extend .mt-3;

      p {
        font-size: 1rem;
        text-indent: 2em;
        line-height: 1.8;
      }
    }

    .btn {
      @extend .m-5;
      @extend .float-right;
    }
  }
}

.fourth {
  @extend .py-8;

  .heading {
    @extend .text-center;

    .title {
      @extend .mb-4;
    }

    .subtitle {
      @extend .text-muted;
    }

    hr {
      @extend .w-25;
      @extend .mb-6;
    }
  }

  .card {
    overflow: hidden;
    box-shadow: 0 0 1rem #e0e0e0;
    transition: box-shadow .5s;

    .card-img-overlay {
      z-index: 1;
      margin-bottom: 2.75rem;
      background: linear-gradient(rgba($brand-primary, .1), rgba($brand-primary, .6));
      transition: opacity .3s;
      @extend .d-flex;
      @extend .justify-content-center;
      @extend .align-items-center;
      @extend .text-center;
    }

    .card-img-top {
      transition: transform .3s;
    }

    .card-block {
      flex: 0;
      background-color: rgba($brand-primary, .8);
      @extend .py-3;
      @extend .text-white;
    }

    .card-footer {
      z-index: 1;
      border-color: #f0f0f0;
      background-color: #fff;
      font-size: 81.25%;
      @extend .d-flex;
      @extend .justify-content-between;
      @extend .text-muted;
    }

    &:hover {
      .card-img-overlay {
        opacity: .8;
      }

      .card-img-top {
        transform: scale(1.1);
      }
    }
  }
}

.fifth {
  @extend .py-8;
  @extend .bg-faded;
}

.sixth {
  @extend .py-8;
  @extend .py-8;
}
