// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
// Display
// Positioning
// Box model
// Colors and Typography
// Other
// --------------------------

// Section common styles
// --------------------------
.site-main > section {
  @extend .py-8;

  .heading {
    @extend .text-center;

    .title {
      @extend .mb-4;
    }

    .subtitle {
      @extend .text-muted;
    }

    hr {
      @extend .w-25;
      @extend .mb-6;
    }
  }

  .feature {
    background-color: #fff;
    box-shadow: 0 0 1rem #c0c0c0;
    padding: 5%;
    @extend .mb-5;

    img {
      @extend .w-100;
    }
  }

  .article {
    .title {
      @extend .text-gray-dark;
      @extend .text-center;
      @extend .text-md-left;
    }

    .subtitle {
      font-weight: normal;
      @extend .text-muted;

      &::before {
        content: ' —— '
      }
    }

    .content {
      p {
        text-indent: 2em;
      }
    }
  }

  .more {
    @extend .mt-5;
    @extend .text-center;
  }
}

// First section styles
// --------------------------
.first {
  @extend .bg-faded;

  .article {
    margin-bottom: 3rem;
    @extend .pr-md-5;

    .content {
      @extend .mt-5;

      p {
        font-size: 1.125rem;
        line-height: 2;
      }
    }

    .btn {
      @extend .m-4;
    }
  }

  .share {
    position: absolute;
    bottom: 0;
    @extend .ml-3;

    .btn:hover {
      transform: rotate(360deg);
    }
  }

  @include media-breakpoint-down (md) {
    .row {
      flex-direction: column-reverse;
    }
  }
}

// Second section styles
// --------------------------
.second {
  .card {
    .card-img-overlay {
      margin-bottom: 8.875rem;
      background: linear-gradient(transparent, $brand-primary);
      @extend .align-items-end;
    }

    .icon-pin {
      font-size: 81.25%;
      @extend .text-white;
    }

    .card-img-top {
      max-height: 16.875rem;
    }
  }
}

// Third section styles
// --------------------------
.third {
  @extend .bg-faded;

  .article {
    @extend .pl-lg-7;
    .content {
      @extend .mt-3;

      p {
        font-size: 1rem;
        line-height: 1.8;
      }
    }

    .btn {
      @extend .m-5;
      @extend .float-right;
    }
  }

  @include media-breakpoint-up (lg) {
    .feature {
      transform: rotate(-15deg);
    }
  }
}

// Fourth section styles
// --------------------------
.fourth {
  .card {
    .card-img-overlay {
      margin-bottom: 2.75rem;
      background: linear-gradient(rgba($brand-primary, .1), rgba($brand-primary, .8));
      @extend .justify-content-center;
      @extend .align-items-center;
      @extend .text-center;
    }

    .card-img-top {
      max-height: 12.5rem;
    }

    .card-block {
      flex: 0;
      background-color: rgba($brand-primary, .7);
      @extend .py-3;
      @extend .text-white;
    }

    .card-subtitle {
      border-top: .0625rem solid lighten($brand-primary, 40%);
    }
  }
}

// Fifth section styles
// --------------------------
.fifth {
  @extend .bg-faded;
}

// Sixth section styles
// --------------------------
.sixth {
}
