// -----------------------------------------------------------------------------
// This file contains styles that are specific to the single page.
// -----------------------------------------------------------------------------

$item-space: 2.5rem;

.terms {
  padding: 0 .5rem $item-space / 2;

  border-bottom: border(lighten($card-border-color, 5%));

  .category,
  .tags {
    i {
      margin-right: .75rem;

      vertical-align: middle;

      font-size: 1.25rem;
    }
  }

  .tags {
    a {
      display: inline-block;

      padding: .25rem .5rem;

      border: border(lighten($card-border-color, 5%));
      border-radius: .25rem;

      font-size: .875rem;
      line-height: 1.2;
    }
  }
}

.license {
  padding: $item-space 0;

  text-align: center;

  border-bottom: border(lighten($card-border-color, 5%));

  img {
    width: 8rem;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 0;
  }
}

.author {
  padding: $item-space 0;

  border-bottom: border(lighten($card-border-color, 5%));

  @extend .media;

  img {
    display: flex;

    width: 6.25rem;
    margin: 0 1rem;

    border-radius: 50%;
  }

  .info {
    @extend .media-body;

    .name {
      margin-top: .5rem;
      margin-bottom: 0;
    }

    // .bio {
    //   margin-bottom: 0;
    // }

    .socials {
      padding: 0;

      list-style: none;

      li {
        display: inline-block;

        & + li {
          margin-left: .5rem;
        }
      }
    }
  }
}

.navigation {
  display: flex;

  padding: $item-space 1rem;

  border-bottom: border(lighten($card-border-color, 5%));

  justify-content: space-between;

  .prev {
    text-align: left;
  }

  .next {
    text-align: right;
  }
}

.related {
  padding: $item-space 0;

  .item {
    position: relative;

    margin-bottom: 1rem;

    img {
      width: 100%;
    }

    .title {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;

      margin: 0;
      padding: .5rem;

      text-align: center;

      background-color: rgba($brand-primary, .5);

      font-size: 1.125rem;

      @include change-link-color;
    }
  }
}

.comments {
  margin-bottom: 5rem;
  padding: 3% 6%;
  background-color: $card-bg;
  border: $card-border-width solid $card-border-color;
  @include border-radius($card-border-radius);

  .comment-title {
    margin: 2rem 0;
  }

  .comment-list {
    margin-bottom: 2rem;
    padding: 0;

    list-style: none;

    li {
      padding: 1rem 0;
      @extend .media;

      & + li {
        border-top: .0625rem dashed #e5e5e5;
      }
    }

    div {
      position: relative;
      @extend .media-body;
    }

    img {
      display: flex;

      width: 6.25rem;
      // align-self: center;
      margin-right: 1rem;

      border-radius: 50%;
    }

    .name {
      margin: 0;

      font-size: 1.125rem;
    }

    .time {
      font-size: .875rem;

      @extend .text-muted;
    }

    .content {
      margin-top: .3125rem;
      margin-bottom: 0;

      font-size: .875rem;
    }

    .reply {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .comment-form {
    margin: 1rem 0;
  }
}
