footer.site-footer
  aside.widgets: .container: .row
    section.col-md-12.col-lg-5: .widget.widget-subscribe
      h3.title 订阅我们
      p 现在就订阅我们，这样你就可以在第一时间收到我们的更新通知了！
      form.input-group(action='#')
        input.form-control(type='email', placeholder='输入您的邮箱')
        span.input-group-btn: button.btn.btn-secondary(type='submit') 订阅

    section.col-md-4.col-lg-2: .widget.widget-links
      h3.title 友情链接
      ul
        li: a(href='#') 张三
        li: a(href='#') 李思思
        li: a(href='#') 王五五
        li: a(href='#') 赵六六
        li: a(href='#') 哈哈

    section.col-md-4.col-lg-2: .widget.widget-socials
      h3.title 社交网络
      ul
        li: a(href='#') #[i.icon-social-linkedin] LinkedIn
        li: a(href='#') #[i.icon-social-twitter] Twitter
        li: a(href='#') #[i.icon-social-facebook] Facebook
        li: a(href='#') #[i.icon-social-github] GitHub
        li: a(href='#') #[i.icon-social-pinterest] Pinterest

    section.col-md-4.col-lg-3: .widget.widget-qrcode
      h3.title 微信订阅号
      img(src='uploads/qrcode.jpeg', alt='WEDN', width='344')

  .copyright
    .container
      p Copyright &copy; 2017 WEDN.NET. All Rights Reserved.
