aside.sidebar
  section.card.card-widget
    h2.card-header 搜索
    .card-block: .input-group
      input.form-control(type='text', placeholder='搜索...')
      span.input-group-btn: button.btn.btn-primary 搜索

  section.card.card-widget
    h2.card-header 分类目录
    .card-block: ul.categories
      li: a(href='#') 未分类 (10)
      li: a(href='#') 诗和远方 (10)
      li: a(href='#') — 旅行 (2)
      li: a(href='#') — 音乐 (5)
      li: a(href='#') 数码控 (10)
      li: a(href='#') 自由 (123)

  section.card.card-widget
    h2.card-header 文章归档
    .card-block: ul.archives
      li: a(href='#') 2017年五月 (10)
      li: a(href='#') 2017年四月 (10)
      li: a(href='#') 2017年三月 (2)
      li: a(href='#') 2017年二月 (5)
      li: a(href='#') 2017年一月 (10)
      li: a(href='#') 2016年十二月 (123)
      li: a(href='#') 2016年三月 (3)
      li: a(href='#') 2016年一月 (2)

  section.card.card-widget
    h2.card-header 全部标签
    .card-block: ul.tags
      li: a(href='#') 远方
      li: a(href='#') 诗
      li: a(href='#') 自由
      li: a(href='#') 阅读
      li: a(href='#') 写作
      li: a(href='#') 欧洲杯
      li: a(href='#') 天下足球
      li: a(href='#') 远方
      li: a(href='#') 诗
      li: a(href='#') 天下足球
      li: a(href='#') 自由
      li: a(href='#') 欧洲杯
      li: a(href='#') 阅读
      li: a(href='#') 写作

  section.card.card-widget
    h2.card-header 近期评论
    .card-block: ul.comments
      li: a(href='#') 子文 发表在 《世界你好》
      li: a(href='#') 子文 发表在 《我的世界》
      li: a(href='#') 青春无悔不死 发表在 《世界你好》

  section.card.card-widget
    h2.card-header 最新文章
    .card-block: ul.recents
      li: a(href='#') 香港电影那些年
      li: a(href='#') 时代的精神正在消退
      li: a(href='#') 【西班牙】安特克拉，惊艳十足
      li: a(href='#') 【苏格兰】奥尼克群岛，天涯何处无芳草

